.header {
    background: $sectionColor;
    text-align: center;
    width: 100%;
    padding: 1rem 2rem;
    white-space: nowrap;
    overflow: hidden;
    h1 {
        display: block;
        color: white;
        font-size: 4rem;
        font-weight: 400;
    }
    h2 {
        display: inline-block;
        color: white;
        font-weight: 200;
    }

    span {
        display: inline;
        width: 10rem;
        margin: 0rem 2rem;
    }

    img {
        display: inline-block;
    }
    p {
        color: white;
        font-size: 1rem;
    }
}
